body
{
    margin: 20px;
    background-image: url(https://images.app.goo.gl/uhLqZWYcsRDpiufZ7);
}
.header
{
    text-align: center;
    background-color: darkmagenta;
    color: white;
    font-size: xx-large;
}
.portal
{
    font-size: 20px;
    margin: 30px;
}
.but
{
    margin: 40px;
}