<html>
    <head>
        <link rel="Stylesheet" href="../assets/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DHISHNA | Thank You</title>
    </head>
    <body>
        <div class="thanku">
        <label><i>Thank you for your co-operation </i>&nbsp;
        <a href="./index.html"><button class="button"><b>Register another event</b></button></a>
    </label>
    </div>   
    </body>